// Fonts
$fonts-default: (
  'light': sans-serif,
  'primary': sans-serif,
  'italic': sans-serif,
  'bold': sans-serif,
  'mono': monospace,
);

$fonts: () !default;
$fonts: map-merge($fonts-default, $fonts);
@debug $fonts;
// Sizes

/// This is the baseline size used to base other measurements on.
/// For things like margings, padding and font size.
$baseline-font: 16px !default;
$baseline: 2rem !default;
// This is the amount of columns defined for the grid system
$columns: 12 !default;
//layers - z-index
$layers: 10 !default;

/// This is a map of all colors used in the website
/// It's used in a variety of mixins to generate classes for text color, background color and border color
/// Access properties where needed with map-get($colors, 'property')
$color-names: (
  'white': #FFFFFF,
  'black': #4A4A4A,
  'grey': #DDDDDD,
  'orange': #D99E77,
  'yellow': #D9D177,
  'green': #8ED977,
  'turquoise': #5A9BA8,
  'blue': #77B8D9,
  'purple': #9877D9,
  'red': #D97780
);

$color-interface: (
  'primary': map-get($color-names, 'turquoise'),
  'info': map-get($color-names, 'blue'),
  'success': map-get($color-names, 'green'),
  'warning': map-get($color-names, 'yellow'),
  'danger': map-get($color-names, 'red')
);

$colors: () !default;

$colors: map-merge($color-names, $colors);
$colors: map-merge($color-interface, $colors);

// Sizing and Positioning

/// This is a map of all sizes used in the utility css selectors
/// It's used in the m() and p() mixins to generate the required property sizes, based on the basline variable
/// It's also used to generate utility css selectors like .m-u-m (medium, universal margin).
/// Access properties where needed with map-get($sizes, 'property')


$size-default: (
  'tiny': $baseline * .2,
  'xsmall': $baseline * .4,
  'small':	$baseline * .6,
  'medium': $baseline,
  'large': $baseline * 1.3,
  'xlarge': $baseline * 2,
  'huge': $baseline * 3,
  'giant': $baseline * 5,
);

$sizes: () !default;
$sizes: map-merge($size-default, $sizes);

$position: (
  'absolute',
  'relative',
  'fixed'
);


/// This is a map of all positions used in the utility css selectors
/// It's used in mixins and generators
/// Access properties where needed with map-get($positions, 'property')
$positions: (
  'top': 'top',
  'bottom': 'bottom',
  'left': 'left',
  'right': 'right',
  'every': (
    '1': 'top',
    '2': 'bottom',
    '3': 'left',
    '4': 'right'
  ),
  'horz': (
    '1': 'left',
    '2': 'right'
  ),
  'vert': (
    '1': 'top',
    '2': 'bottom'
  )
);

$media: (
  'tablet': 796px,
  'desktop': 1000px,
  'widescreen': 1192px,
  'fullhd': 1384px
);

$displays: (
  'inline': 'inline',
  'inline-b': 'inline-block',
  'inline-f': 'inline-flex',
  'block': 'block',
  'flex': 'flex',
  'table': 'table',
  'list': 'list-item',
  'run-in': 'run-in',
  'table-cell': 'table-cell',
  'none': 'none',
  'inherit': 'inherit',
  'init': 'initial'
);
