////
/// This is the Layout file
/// It holds all the rules to do with positioning and layouts
/// @author David Allen
/// @since v1.0.0
////


/// This generates the utility classes .p and .m
/// These classes can be used in the html file where needed to change the padding [.p] and margin [.m]
/// @example
///  .m-u-xl = universal margin at xl size
///  .p-l-s = left padding at s size
@each $position, $position-name in $positions {
  @if(type-of($position-name) == 'string') {
    .has-padding-#{$position} {
      $p: positions('padding', $position);

      @if($position == 'none') {
        #{$p}: #{map-get($sizes, $position)};
      }
      @else {
        @each $size-letter, $size in $sizes {
          &-#{$size-letter} {
            #{$p}: #{$size};
          }
        }
      }
    }

    .has-margin-#{$position} {
      $p: positions('margin', $position);

      @if($position == 'none') {
        #{$p}: #{map-get($sizes, $position)};
      }
      @else {
        @each $size-letter, $size in $sizes {
          &-#{$size-letter} {
            #{$p}: #{$size};
          }
        }
      }
    }
  }
  @if(type-of($position-name) == 'map') {
    .has-margin-#{$position} {
      @each $size-letter, $size in $sizes {
        &-#{$size-letter} {
          $p1: positions('margin', map-get($position-name, '1'));
          $p2: positions('margin', map-get($position-name, '2'));
          #{$p1}: #{$size};
          #{$p2}: #{$size};

          @if($position == 'all') {
            $p3: positions('margin', map-get($position-name, '3'));
            $p4: positions('margin', map-get($position-name, '4'));
            #{$p3}: #{$size};
            #{$p4}: #{$size};
          }
        }
      }
    }

    .has-padding-#{$position} {
      @each $size-letter, $size in $sizes {
        &-#{$size-letter} {
          $p1: positions('padding', map-get($position-name, '1'));
          $p2: positions('padding', map-get($position-name, '2'));
          #{$p1}: #{$size};
          #{$p2}: #{$size};

          @if($position == 'all') {
            $p3: positions('padding', map-get($position-name, '3'));
            $p4: positions('padding', map-get($position-name, '4'));
            #{$p3}: #{$size};
            #{$p4}: #{$size};
          }


        }
      }
    }
  }
}
