/// This generates the utility classes .has-{size}-{position}-padding .has-{size}-{position}-margin
/// These classes can be used in the html file where needed to change the padding and margin
/// @example
///  .has-huge-all-padding = huge sized padding in every direction
///  .has-small-bottom-margin = small margin at the bottom
@each $position, $position-name in $positions {
  @if(type-of($position-name) == 'string') {
    $p: positions('padding', $position);
    $m: positions('margin', $position);
    @each $size-letter, $size in $sizes {
      .has-#{$size-letter}-#{$position-name}-padding {
        #{$p}: #{$size};
      }

      .has-#{$size-letter}-#{$position-name}-margin {
        #{$m}: #{$size};
      }
    }
  }
  @if(type-of($position-name) == 'map') {

    @if($position == 'every') {
      $p1: positions('padding', map-get($position-name, '1'));
      $p2: positions('padding', map-get($position-name, '2'));
      $p3: positions('padding', map-get($position-name, '3'));
      $p4: positions('padding', map-get($position-name, '4'));
      $m1: positions('margin', map-get($position-name, '1'));
      $m2: positions('margin', map-get($position-name, '2'));
      $m3: positions('margin', map-get($position-name, '3'));
      $m4: positions('margin', map-get($position-name, '4'));

      @each $size-letter, $size in $sizes {

        .has-#{$size-letter}-#{$position}-padding {
          #{$p1}: #{$size};
          #{$p2}: #{$size};
          #{$p3}: #{$size};
          #{$p4}: #{$size};
        }

        .has-#{$size-letter}-#{$position}-margin {
          #{$m1}: #{$size};
          #{$m2}: #{$size};
          #{$m3}: #{$size};
          #{$m4}: #{$size};
        }
      }
    }
    @else {
      $p1: positions('padding', map-get($position-name, '1'));
      $p2: positions('padding', map-get($position-name, '2'));
      $m1: positions('margin', map-get($position-name, '1'));
      $m2: positions('margin', map-get($position-name, '2'));

      @each $size-letter, $size in $sizes {
        .has-#{$size-letter}-#{$position}-padding {
          #{$p1}: #{$size};
          #{$p2}: #{$size};
        }

        .has-#{$size-letter}-#{$position}-margin {
          #{$m1}: #{$size};
          #{$m2}: #{$size};
        }
      }
    }
  }
}
