@each $p in $position {
  .is-#{$p} {
    position: #{$p} !important;

    @if($p == 'fixed' or 'absolute') {
      &.is-top {
        top: 0 !important;

        &-right {
          top: 0 !important;
          right: 0 !important;
        }

        &-left {
          top: 0 !important;
          left: 0 !important;
        }
      }

      &.is-left {
        left: 0 !important;
      }

      &.is-right {
        right: 0 !important;
      }

      &.is-bottom {
        bottom: 0 !important;

        &-right {
          bottom: 0 !important;
          right: 0 !important;
        }

        &-left {
          bottom: 0 !important;
          left: 0 !important;
        }
      }
    }
  }
}
