.article {
  padding: map-get($sizes, 'large') 0;

  p {
    margin-bottom: map-get($sizes, 'small');

    &:last-of-type {
      &:not(:only-of-type) {
        margin-bottom: map-get($sizes, 'medium');
      }
    }
  }
}
