.card-header {
  align-items: stretch;
  display: flex;
}

.card-header-title {
  align-items: center;
  color: map-get($colors, 'black');
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  padding: map-get($sizes, 'xsmall');
}

.card-header-icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: map-get($sizes, 'tiny');
}

.card-image {
  display: block;
  position: relative;
}

.card-content {
  padding: 1.5rem;
}

.card-footer {
  border-top: 1px solid map-get($colors, 'grey');
  align-items: stretch;
  display: flex;
}

.card-footer-item {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: map-get($sizes, 'tiny');

  &:not(:last-child) {
    border-right: 1px solid map-get($colors, 'grey');
  }
}

.card {
  background-color: map-get($colors, 'white');
  color: map-get($colors, 'black');
  max-width: 100%;
  position: relative;

  .media:not(:last-child) {
    margin-bottom: map-get($sizes, 'xsmall');
  }
}
