@each $position, $position-name in $positions {
  @if(type-of($position-name) == 'string') {
    $m: positions('margin', $position);
    @each $size-letter, $size in $sizes {

      .has-#{$size-letter}-#{$position-name}-margin {
        #{$m}: #{$size} !important;
      }
    }
  }
  @if(type-of($position-name) == 'map') {

    @if($position == 'every') {
      @each $size-letter, $size in $sizes {
        .has-#{$size-letter}-#{$position}-margin {
          margin: #{$size} !important;
        }
      }
    }
    @else {
      $m1: positions('margin', map-get($position-name, '1'));
      $m2: positions('margin', map-get($position-name, '2'));

      @each $size-letter, $size in $sizes {

        .has-#{$size-letter}-#{$position}-margin {
          #{$m1}: #{$size};
          #{$m2}: #{$size};
        }
      }
    }
  }
}
