@mixin has-margin($size, $position) {
  $m: positions('margin', map-get($positions, $position));

  @if(type-of($m) == 'string') {
    #{$m}: #{map-get($sizes, $size)};
  }
  @else {
      @if($position == 'every') {
        margin: #{map-get($sizes, $size)};
      }
      @else {
        $m1: positions('margin', map-get($m, '1'));
        $m2: positions('margin', map-get($m, '2'));

        #{$m1}: #{map-get($sizes, $size)};
        #{$m2}: #{map-get($sizes, $size)};
      }
  }
}
