@mixin has-padding($size, $position) {
  $p: positions('padding', map-get($positions, $position));

  @if(type-of($p) == 'string') {
    #{$p}: #{map-get($sizes, $size)};
  }
  @else {
      @if($position == 'every') {
        padding: #{map-get($sizes, $size)};
      }
      @else {
        $p1: positions('margin', map-get($p, '1'));
        $p2: positions('margin', map-get($p, '2'));

        #{$p1}: #{map-get($sizes, $size)};
        #{$p2}: #{map-get($sizes, $size)};
      }
  }
}
